body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-bottom: 1px solid #202020;
    width: 100%;
    height: 35px;
    margin-bottom: 50px;
}

#board-container {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    box-shadow: 0 0 500px #454545;
    border: 1px solid #202020;
}

#board {
    position: relative;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #202020;
}

#center-circle {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 155px;
    border: 1px solid #202020;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #000000 linear-gradient(#202020 0%, #000000 100%);
}

#logo {
    height: 23px;
}

#start-button {
    display: flex;
    width: 50px;
    height: 25px;
    font-size: 12px;
    background: #000000 linear-gradient(#2f2f2f 0%, #000000 50%);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f2f2f;
    color: #ffffff
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
}

#power-icon,
#reset-icon {
    width: 14px;
    /* height: 14px; */
}

#power-icon,
#play-icon {
    margin-left: 4.5px;
}

#semicirculo {
    width: 100px;
    height: 50px;
    margin: 11px 0 5px 0;
    background: radial-gradient(#333333 0.5px, transparent 0);
    background-size: 5px 5px;
    border-radius: 100% 100% 100% 100%;
}

.button {
    position: absolute;
    width: 380px;
    height: 380px;
    /* opacity: 0.5; */
    cursor: pointer;
    border: none;
    clip-path: path("m102.75,168.34h0c7.8-32.4,33.34-57.9,65.77-65.63h0c4.22-1.01,7.29-4.73,7.55-9.12l4.85-83.01c.36-6.16-4.9-11.14-11.04-10.53C80.28,9.05,9.05,80.28.05,169.88c-.62,6.14,4.36,11.4,10.53,11.04l83.01-4.85c4.45-.26,8.22-3.41,9.16-7.72h0Z");
}

#green-button {
    transform: rotate(0deg);
    /* background: radial-gradient(circle, green 35%, #000000 100%); */
    background: radial-gradient(circle, rgb(0, 128, 0) 35%, #000000 100%);
    /* background: radial-gradient(circle, rgb(0, 192, 0) 35%, #000000 100%); */
}

#red-button {
    transform: rotate(90deg);
    /* background: radial-gradient(circle, red 35%, #000000 100%); */
    background: radial-gradient(circle, rgb(192, 0, 0) 35%, #000000 100%);
    /* background: radial-gradient(circle, rgb(255, 0, 0) 35%, #000000 100%); */
}

#blue-button {
    transform: rotate(180deg);
    /* background: radial-gradient(circle, blue 35%, #000000 100%); */
    background: radial-gradient(circle, rgb(0, 0, 192) 35%, #000000 100%);
    /* background: radial-gradient(circle, rgb(0, 0, 255) 35%, #000000 100%); */
}

#yellow-button {
    transform: rotate(270deg);
    /* background: radial-gradient(circle, yellow 35%, #000000 100%); */
    background: radial-gradient(circle, rgb(192, 192, 0) 35%, #000000 100%);
    /* background: radial-gradient(circle, rgb(255, 255, 0) 35%, #000000 100%); */
}

h2 {
    color: #ffffff;
    margin: 30px;
}

#level,
#score,
#timer {
    font-family: 'Sarpanch Regular';
    text-align: center;
    font-size: 16px;
    color: #c0c0c0;
    margin: 20px;
    letter-spacing: 0.5px;
}

.active {
    /* opacity: 1; */
    /* filter: brightness(150%) contrast(150%); */
    filter: brightness(150%);
    /* filter: contrast(150%); */
  }
  

.button:active {
    /* opacity: 1; */
    /* filter: brightness(150%) contrast(150%); */
    filter: brightness(150%);
    /* filter: contrast(150%); */
  }

.game-over {
    position: absolute;
    text-align: center;
    font-size: 100px;
    color: #ff0000;
    font-family: 'Sarpanch Black';
    line-height: 75px;
    display: none;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}